/*global*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Recursive', sans-serif;
}

/*header*/

#header {
    background-color: #666666;
    color: #FFFFFF;
    padding: 10px 10px 0;
}

.title1 {
    font-size: 32px;
    font-weight: 300;
}

.title2 {
    font-size: 32px;
    font-weight: 500;
    background-color: #FFFFFF;
    background: linear-gradient(90deg, rgba(240,98,146,1) 0%, rgba(255,224,130,1) 25%, rgba(197,225,165,1) 50%, rgba(144,202,249,1) 75%, rgba(179,157,219,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*control panel*/

#controlPanel {
    background-color: #666666;
    color: #FFFFFF;
    padding: 10px;
}

#controlPanel button {
    color: #000000;
    background-color: #C7C7C7;
    padding: 5px 10px 10px;
    border: 0;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    line-height: 18px;
    height: 39px;
}

#controlPanel button:hover {
    cursor: pointer;
}

#eraserButton img {
    transform: translateY(3px);
    margin-right: 2px;
}

.material-icons-round.md-24 {
    font-size: 24px;
    line-height: 18px;
    transform: translateY(5px);
}

#canvasSettings {
    display: none;
}

#colorPickerDivWrapper {
    color: #000000;
    background-color: #C7C7C7;
    display: inline;
    padding: 11px 10px 9px;
    line-height: 18px;
}

#colorPickerDiv {
    color: #000000;
    display: inline;
    height: 39px;
    border: none;
}

input[type="color"] {
	opacity: 0;
}

input[type="color"]:hover {
    cursor: pointer;
}

/*drawing area*/

#drawingArea{
    height: 100%;
    padding: 0;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

#pixelCanvasFrame {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid #C7C7C7;
}

#pixelCanvas {
    height: fit-content;
    width: fit-content;
    display: grid;
    cursor:url(./images/paintbrush-icon.png),auto;
}

.gridCell {
    background-color: #FFFFFF;
    border-left: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.gridBorderHidden {
    border: 0;
}

/*footer*/

#footer {
    background-color: #666666;
    color: #FFFFFF;
    padding: 10px;
    font-size: 12px;
}

#footer a {
    color: #C7C7C7;
    font-size: 12px;
}

/*new canvas settings div*/

#canvasSettings {
    position: fixed;
    top: 119px;
    z-index: 2;
    align-self: center;
    background-color: #FFFFFF;
    border: 2px solid #666666;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block;
}

input[type="number"] {
    width: 130px;
    border: 2px solid #C7C7C7;
    margin-left: 5px;
}

#canvasSettings hr {
    border: 1px solid #FFFFFF;
}

.canvasSettingsDivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#canvasSettings button {
    color: #000000;
    background-color: #C7C7C7;
    padding: 5px;
    border: 0;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

#canvasSettings button:hover {
    cursor: pointer;
}

.centerTheStupidThing {
    display: block;
    text-align: center;
}

/*save image div*/

#saveImageDiv {
    display: none;
}