body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header, #footer, #controlPanel {
    background-color: #666666;
}

#drawingArea{
    background-color: #7F7F7F;
    padding: 10px;
}

#canvas {
    height: fit-content;
    width: fit-content;
    display: grid;
}

.gridCell {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid red;
    box-sizing: border-box;
}