body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Recursive', sans-serif;
}

#header, #footer, #controlPanel {
    background-color: #666666;
}

#drawingArea{
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    height: fit-content;
    width: fit-content;
    display: grid;
}

.gridCell {
    background-color: #FFFFFF;
    border-left: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.gridBorderHidden {
    border: 0;
}