/*global*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Recursive', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    color: #424949;
}

/*header*/

#header {
    background-color: #C7C7C6;
    padding: 10px;
}

.title1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
}

.title2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
}

/*control panel*/

#controlPanel {
    background-color: #C7C7C6;
    padding: 0 10px;
}

#controlPanel button {
    color: #424949;
    background-color: #EDECED;
    padding: 5px 10px 10px;
    border: 0;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    line-height: 18px;
    height: 39px;
}

#controlPanel button:hover {
    cursor: pointer;
}

#rainbowButton {
    margin-left: 1px;
}

#eraserButton img, #drawButton img {
    transform: translateY(3px);
    margin-right: 2px;
}

.material-icons-round.md-24 {
    font-size: 24px;
    line-height: 18px;
    transform: translateY(5px);
}

#canvasSettings {
    display: none;
}

#colorPickerDivWrapper {
    background-color: #EDECED;
    display: inline;
    padding: 11px 10px 9px;
    line-height: 18px;
}

#colorPickerDiv {
    display: inline;
    height: 39px;
    border: none;
}

input[type="color"] {
	opacity: 0;
}

input[type="color"]:hover {
    cursor: pointer;
}

/*control panel tooltips*/

#toolTips {
    background-color: #C7C7C6;
    color: #424949;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    height: 24px;
}

#toolTips div, #restOfTheControlPanel {
    display: none;
}

/*drawing area*/

#drawingArea{
    height: 100%;
    padding: 5px;
    background-color: #EDECED;
    display: flex;
    overflow: auto;
}

#pixelCanvas {
    cursor:url(./images/brush-icon.png),auto;
    display: grid;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.pixelCanvasBorder {
    box-shadow: -1px -1px 0 #D5DBDB;
}

.gridCell {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D9D8;
    border-right: 1px solid #D8D9D8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.gridBorderHidden {
    border: 0;
    box-shadow: none;
}

/*footer*/

#footer {
    background-color: #C7C7C6;
    color: #424949;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
}

#footer a {
    color: #707B7C;
    font-size: 12px;
}

/*new canvas settings div*/

#canvasSettings {
    display: none;
}

.canvasSettingst1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(75, 75, 75, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasSettingst2 {
    width: fit-content;
    height: fit-content;
    align-self: center;
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: block;
}

input[type="number"] {
    width: 130px;
    border: 2px solid #C7C7C7;
    margin-left: 5px;
}

#canvasSettings hr {
    border: 1px solid #FFFFFF;
}

.canvasSettingsDivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#canvasSettings button {
    color: #424949;
    background-color: #EDECED;
    padding: 5px;
    border: 0;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

#canvasSettings button:hover {
    cursor: pointer;
}

.centerTheStupidThing {
    display: block;
    text-align: center;
}

#canvasSettings .centerTheStupidThing button {
    padding: 8px;
}

.centerTheStupidThingSmall {
    font-size: 12px;
    line-height: 14px;
    display: block;
    text-align: center;
}

/*save image div*/

#saveImageDiv {
    display: none;
}